/* Updated CSS for the login page */
.login-container {
    display: flex;
    height: 100vh;
}

.login-image {
    position: fixed;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6b3f16d9;
}

.login-image .logo {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10%;
}

.login-form {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

.users.form {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0 0 20px;
}

legend {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #a00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #900;
}

.additional-links {
    margin-top: 15px;
}

.additional-links a {
    color: #007bff;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}